.App {
  text-align: center;
}

.btn{
 margin: 10px;
background-color: red;

}


.container{
  text-align: center;
  flex: 1;
  color: red;
	justify-Content: 'center';
	align-items: 'center';
	background-color: 'red';
}

.btn-login{
  padding:"15px";
  border-radius:"15px";
  border-color:"black";
  background-color: transparent;
  
}

.input-login{
  padding:"15px  15px";
  border-radius:"8px";
  color:red;
}

.div-container{
  font-size: '120px';
  position: 'relative';
  top: '10vh';
}

